body{
    padding: 0;
    margin: 0;
    background-color: #3991D8 ;
}
h1{
    text-align: center;
    font-size: 3em;
}
form{
    margin-left: 30vw;
    margin-top: 40;
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: #1360a0;
    border-radius: 12px;
    box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, 1)
    
}
table{
    padding: 5% 10px;
}
#display{
    margin: 15px 10px;
    padding: 10px 4px;
    font-size: 28px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, 1)
}
input{
    outline: none;
}


input[type=button] {
    font-family:sans-serif;
    padding: 0;
    width: 65px;
    height: 65px;
    font-size: 28px;
    background-color: #1360a0;
    color: #c4c4c4;
    opacity: .8;
    border: none;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, 1)
}
input[type=button]:hover {
    color: rgb(255, 255, 255);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98,98,213,1) 0%, rgba(19,96,160,1) 0%, rgba(13,113,136,1) 0%, rgba(6,170,204,1) 0%, rgba(8,155,186,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);}